/* div img {
	width: 100vw;
	height: 100vh;
} */

.container {
	background: lightblue url("./image/ganeshabackground.jpg") no-repeat center;
	background-size: 100vw 100vh;
	display: grid;

	grid-template-columns: 12em 1fr 1fr 1fr;
	height: 100vh;
}

/* .container img {
	width: 100%;
	height: 100%;


	position: fixed;
	top: 0;
	left: 0;
} */

.navcontainer a {
	margin-top: 150px;
	position: absolute;
	left: -80px;
	transition: 0.3s;
	padding: 15px;
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
}

.navcontainer a:hover {
	left: 0;
}

.one {
	top: 20px;
	background-color: rgb(65, 223, 196);
	border: 1px solid rgb(152, 158, 119);
}

.two {
	top: 80px;
	background-color: rgb(202, 223, 18);
	border: 1px solid rgb(171, 31, 199);
}

.three {
	top: 140px;
	background-color: rgb(241, 34, 207);
	border: 1px solid rgba(51, 230, 221, 0.637);
}
.four {
	top: 200px;
	background-color: rgb(245, 62, 7);
	border: 2px solid rgba(92, 235, 9, 0.637);
}
.aside {
	grid-column-start: 4;
	grid-column-end: 5;

	/* background-image: url("./image/utsav.png");
	background-repeat: no-repeat;
	background-position: center top; */
}

.aside p {
}

.middle {
	grid-column-start: 2;
	grid-column-end: 3;
}

.middle h1 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	position: absolute;
	top: 150px;
}

.middle p {
	font-family: cursive;
	position: absolute;
	top: 200px;
	font-weight: bold;
}

/* Style for Contact Page */

.container1 {
	background: #d6dbe2 url("./image/contact_bg.jpg") no-repeat top center;
	background-size: cover;

	display: grid;

	grid-template-columns: 12em 1fr 12em;
	height: 100vh;
}

.contactform {
	background: url("./image/contact_form_bg.png") no-repeat top center;
	grid-column-start: 2;
	grid-column-end: 3;

	color: #461449;
	float: left;
	text-align: center;
}

.contactform h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	padding-top: 50px;
}
.contactform ul {
	list-style: none;
	/* list-style-image: url("./image/call_black_24dp.svg"); */
	/* text-indent: 15px; */
	display: block;
}
ul li::marker {
	/* font-size: 1.5em; */
}

/* styling for About us Page */
.container3 {
	background: #000 url("./image/about_bgu.jpg") no-repeat top center;
	background-size: cover;

	display: grid;

	grid-template-columns: 5em 1fr 5em;
	height: 100vh;
}

.aboutform {
	background: url("./image/location_bg.png") no-repeat top center;
	grid-column-start: 2;
	grid-column-end: 3;

	color: #0f0f0f;
	float: left;
	text-align: center;

	/* width: 700px;
	height: 300px; */
}

.aboutform p {
	margin-left: 0px;
	font-size: small;
}

/* .paragraph {
	width: 700px;
	height: 320px;

	overflow: hidden;
} */

.container2 {
	background-image: url("./image/ranurte-EK6GH2efeMg-unsplash.jpg");
	background-size: cover;

	display: flex;

	width: 100vw;
	height: 100vh;
}

.form {
	margin: auto;
	/* background-color: rgb(189, 209, 169); */
	padding: 2.5em;
	width: 200px;
	height: 200px;
	font-weight: bold;
	/* height: auto; */
}

/* .form div {
	text-align: center;
} */
.form div {
	display: block;
	text-align: center;
}

input[type="submit"] {
	margin-left: 2em;
	background-color: rgba(231, 73, 25, 0);
}

input[type="text"] {
	margin-left: 2em;
	background-color: rgb(115, 129, 155);
}
